.planScreen__plan {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  opacity: 0.7;
}

.planScreen__plan:hover {
  opacity: 1;
}

.planScreen__plan > button {
  padding: 10px 20px;
  font-size: 1rem;
  color: #fff;
  background-color: #e50914;
  font-weight: 600;
  border: none;
  cursor: pointer;
}

.plansScreen__plan--disabled > button {
  background-color: gray !important;
  cursor: auto;
  pointer-events: none;
}

.planScreenloader {
  display: flex;
  justify-content: center;
  z-index: 10;
  margin: auto auto;
  background-color: black;
}

.loader {
  display: flex;
  justify-content: center;
  align-self: center;
  margin: auto auto;
  position: fixed;
  border: 16px solid gray; /* Light grey */
  border-top: 16px solid #e50914; /* Blue */
  border-radius: 50%;
  width: 80px;
  height: 80px;
  animation: spin 2s linear infinite;
  margin-top: 15rem;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
