.details {
  position: relative;
  height: 35vw;
}

.details__background,
.details__background__shadow,
.details__background__image,
.details__area {
  position: absolute;
  top: 0;
  bottom: 0;
}

.details__background {
  left: 0;
  right: 0;
}

.details__background__shadow {
  left: 0;
  background: #000;
  width: 30%;
  z-index: 2;
}
.details__background__shadow:before {
  content: "";
  position: absolute;
  z-index: 10;
  background-image: linear-gradient(to right, #000, transparent);
  top: 0;
  bottom: 0;
  left: 100%;
  width: 275px;
}

.details__background__image {
  right: 0;
  width: 70%;
  height: 100%;
  background-position: center 10%;
  background-size: cover;
  z-index: 1;
}

.details__area {
  left: 0;
  right: 0;
  height: 100%;
  z-index: 3;
}

.details__area__container {
  padding: 30px 70px;
}

.details__title {
  font-size: 45px;
  color: #fff;
  font-weight: 700;
  display: flex;
  margin-right: auto;
}

.details__desciption {
  font-size: 18px;
  color: #fff;
  margin-top: 20px;
  max-width: 500px;
  text-align: left;
}

.trailerButton {
  width: 130px;
  background-color: #e50914;
  margin-left: 70px;
  margin-right: auto;
  align-items: center;
  outline: none;
  color: white;
  opacity: 0.7;
  font-weight: 600;
  border: none;
  cursor: pointer;
  padding: 10px 20px;
  font-size: 1rem;
}

.trailerButton:hover {
  opacity: 1;
}
